.title{
    font-size: 2em;
	font-weight: bold;
    text-align: left;
}
.pContent{
    text-align:left;
}
#login-form {
    width  : 600px;
    height : 420px;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #ccc;
    margin: 0 auto;
    padding: 10px;
}

#inputFirstName,#inputLastName,#inputEmail,#inputPassword,#inputPassword2,
#log-username,#log-pass {
    margin-bottom: 3%;

}

.box {
    display: inline-block;
    vertical-align: top;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ccc;
    margin: 0 auto;

  }
  #i-log,#log-username{
    display: inline-block;
    vertical-align: middle;
  }